.pad {
  width: 40px;
}
::ng-deep .mat-form-field-wrapper {
padding: 0;
}

.green-color {
  color: green;
}

.bg-gray {
  background-color: #fafafa;
}


.mat-tree-node::before {
  height: 3rem;
  position:absolute;
  left: 0;
  right: 0;
  border-bottom: #EEE 1px solid;
  content: ' ';
}
